/* Microsoft SQL Server - Scripting			*/
/* Server: SERVER					*/
/* Database: udaanuma					*/
/* Creation Date 8/9/02 3:38:40 PM 			*/

if exists (select * from sysobjects where id = object_id(N'[dbo].[agents]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[agents]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Attestation]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Attestation]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[bank]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[bank]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[cab]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[cab]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Category]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Category]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[certificate]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[certificate]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[changes]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[changes]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[country]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[country]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[dailyUpdate]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[dailyUpdate]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[deleteditem]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[deleteditem]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[diary]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[diary]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[embassy]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[embassy]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[entryDetails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[entryDetails]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[EntryType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[EntryType]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[hits]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[hits]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[holidaylist]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[holidaylist]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[hotel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[hotel]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[invno]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[invno]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[invoice]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[invoice]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[invoicedetail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[invoicedetail]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Ledger]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Ledger]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Mainentry]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Mainentry]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[masterbalance]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[masterbalance]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[newagents]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[newagents]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[PaxAttestation]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PaxAttestation]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[paxCab]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[paxCab]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[paxhotel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[paxhotel]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[PaxStatus]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PaxStatus]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Poe]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Poe]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[priwork]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[priwork]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[quote]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[quote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[registration]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[registration]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[scheduler]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[scheduler]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[security]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[security]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[sentmails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[sentmails]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[status]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[status]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[StatusHistory]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[StatusHistory]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[subscriber]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[subscriber]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Udaan_users]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Udaan_users]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[VisaInfo]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[VisaInfo]
GO

CREATE TABLE [dbo].[agents] (
	[agentsID] [int] IDENTITY (1, 1) NOT NULL ,
	[Description] [varchar] (100) NULL ,
	[companyname] [varchar] (100) NULL ,
	[complexname] [varchar] (100) NULL ,
	[street1] [varchar] (100) NULL ,
	[street2] [varchar] (100) NULL ,
	[area] [varchar] (100) NULL ,
	[city] [varchar] (100) NULL ,
	[pincode] [varchar] (50) NULL ,
	[phoneno] [varchar] (100) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [nvarchar] (1000) NULL ,
	[directorname] [varchar] (100) NULL ,
	[acno] [varchar] (50) NULL ,
	[payment] [varchar] (100) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Attestation] (
	[AttestationID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[bank] (
	[bankid] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[cab] (
	[cabid] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Category] (
	[CategoryID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[certificate] (
	[certificateID] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[changes] (
	[refno] [int] NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[country] (
	[countrycode] [varchar] (50) NULL ,
	[country] [varchar] (50) NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[dailyUpdate] (
	[entrydate] [datetime] NULL ,
	[Description] [nvarchar] (4000) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[deleteditem] (
	[refno] [int] NULL ,
	[paxid] [int] NULL ,
	[countryid] [int] NULL ,
	[deletedby] [nvarchar] (50) NULL ,
	[description] [nvarchar] (150) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[diary] (
	[ID] [int] NOT NULL ,
	[dte] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[embassy] (
	[EmbassyID] [int] IDENTITY (1, 1) NOT NULL ,
	[Description] [varchar] (100) NOT NULL ,
	[embassyname] [varchar] (100) NULL ,
	[street1] [varchar] (100) NULL ,
	[street2] [varchar] (100) NULL ,
	[area] [varchar] (100) NULL ,
	[city] [varchar] (100) NULL ,
	[phoneno] [varchar] (100) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [varchar] (100) NULL ,
	[workinghours] [varchar] (100) NULL ,
	[chancery] [varchar] (100) NULL ,
	[chanceryphone] [varchar] (50) NULL ,
	[chanceryaddress] [varchar] (100) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[entryDetails] (
	[PaxID] [int] IDENTITY (1, 1) NOT NULL ,
	[refno] [int] NULL ,
	[Paxname] [varchar] (100) NULL ,
	[passportno] [varchar] (50) NULL ,
	[DateOfBirth] [datetime] NULL ,
	[Category] [int] NULL ,
	[totalpax] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[EntryType] (
	[EntryTypeID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[hits] (
	[hits] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[holidaylist] (
	[countryID] [int] NULL ,
	[holiday] [datetime] NULL ,
	[description] [nvarchar] (500) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[hotel] (
	[hotelid] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[invno] (
	[invoiceno] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[invoice] (
	[refno] [int] NULL ,
	[invoiceno] [int] NULL ,
	[hotelfee] [money] NULL ,
	[cabfee] [money] NULL ,
	[poeremark] [nvarchar] (1000) NULL ,
	[poe] [money] NULL ,
	[miscremark] [nvarchar] (1000) NULL ,
	[misc] [money] NULL ,
	[attestfee] [money] NULL ,
	[attestremark] [nvarchar] (1000) NULL ,
	[courierfee] [money] NULL ,
	[grandtotal] [money] NULL ,
	[invoicedate] [datetime] NULL ,
	[remark] [nvarchar] (1000) NULL ,
	[invtype] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[invoicedetail] (
	[invoiceno] [int] NULL ,
	[paxid] [int] NULL ,
	[countryid] [int] NULL ,
	[visafee] [money] NULL ,
	[handlingfee] [money] NULL ,
	[ddcharges] [money] NULL ,
	[invtype] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Ledger] (
	[agentID] [int] NULL ,
	[transdate] [datetime] NULL ,
	[transactionType] [varchar] (50) NULL ,
	[bank] [int] NULL ,
	[paidas] [varchar] (50) NULL ,
	[ddno] [varchar] (50) NULL ,
	[dddate] [varchar] (50) NULL ,
	[paxname] [varchar] (50) NULL ,
	[refno] [int] NULL ,
	[reftype] [varchar] (50) NULL ,
	[credit] [money] NULL ,
	[Debit] [money] NULL ,
	[balance] [money] NULL ,
	[Remark] [nvarchar] (150) NULL ,
	[entrydateTime] [datetime] NULL ,
	[updatedby] [varchar] (50) NULL ,
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[invno] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Mainentry] (
	[refno] [int] NULL ,
	[paxname] [varchar] (100) NULL ,
	[agent] [int] NULL ,
	[refferer] [varchar] (100) NULL ,
	[companyname] [varchar] (100) NULL ,
	[passportno] [varchar] (50) NULL ,
	[totalpassengers] [int] NULL ,
	[entries] [int] NULL ,
	[dateofbirth] [datetime] NULL ,
	[subdate] [datetime] NULL ,
	[coldate] [datetime] NULL ,
	[receivedate] [datetime] NULL ,
	[sentDate] [datetime] NULL ,
	[entrytype] [int] NULL ,
	[category] [int] NULL ,
	[attestation] [int] NULL ,
	[poe] [int] NULL ,
	[status] [int] NULL ,
	[externalremark] [nvarchar] (4000) NULL ,
	[internalremark] [nvarchar] (4000) NULL ,
	[AgentInstruction] [nvarchar] (2000) NULL ,
	[enteredby] [varchar] (50) NULL ,
	[entrydatetime] [datetime] NULL ,
	[Bill] [varchar] (3) NULL ,
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[masterbalance] (
	[agentid] [int] NULL ,
	[masterbalance] [money] NULL ,
	[duedate] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[newagents] (
	[agentcode] [int] NULL ,
	[agentname] [varchar] (50) NULL ,
	[complexname] [varchar] (50) NULL ,
	[street1] [varchar] (50) NULL ,
	[street2] [varchar] (50) NULL ,
	[area] [varchar] (50) NULL ,
	[city] [varchar] (50) NULL ,
	[pincode] [varchar] (50) NULL ,
	[phoneno] [varchar] (50) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [varchar] (50) NULL ,
	[directorname] [varchar] (50) NULL ,
	[a/cno] [varchar] (50) NULL ,
	[payment] [int] NULL ,
	[reminderdate] [datetime] NULL ,
	[alertmessage] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PaxAttestation] (
	[PaxID] [int] NULL ,
	[CountryID] [int] NULL ,
	[AttestationID] [int] NULL ,
	[CertificateID] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[paxCab] (
	[refno] [int] NULL ,
	[name] [varchar] (100) NULL ,
	[cabowner] [varchar] (100) NULL ,
	[vehical] [varchar] (100) NULL ,
	[cabno] [varchar] (50) NULL ,
	[ac] [varchar] (50) NULL ,
	[sdate] [datetime] NULL ,
	[enddate] [datetime] NULL ,
	[startfrom] [varchar] (50) NULL ,
	[standeredkm] [int] NULL ,
	[standeredhour] [varchar] (50) NULL ,
	[actualkm] [int] NULL ,
	[actualhour] [varchar] (100) NULL ,
	[extrakm] [int] NULL ,
	[extrahour] [varchar] (50) NULL ,
	[extrainfo] [varchar] (50) NULL ,
	[extraamount] [int] NULL ,
	[mode] [varchar] (100) NULL ,
	[dest] [varchar] (100) NULL ,
	[orderedby] [varchar] (100) NULL ,
	[ratesperday] [int] NULL ,
	[noofday] [int] NULL ,
	[total] [int] NULL ,
	[entryDateTime] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[paxhotel] (
	[refno] [int] NULL ,
	[name] [varchar] (100) NULL ,
	[hotelname] [int] NULL ,
	[arrivaltime] [varchar] (50) NULL ,
	[arrivaldate] [datetime] NULL ,
	[departtime] [varchar] (50) NULL ,
	[departdate] [datetime] NULL ,
	[nosofdays] [int] NULL ,
	[tariff] [int] NULL ,
	[transportation] [varchar] (100) NULL ,
	[flightdetail] [varchar] (100) NULL ,
	[flightstatus] [varchar] (100) NULL ,
	[misccharges] [int] NULL ,
	[total] [int] NULL ,
	[noofrooms] [int] NULL ,
	[entryDateTime] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PaxStatus] (
	[refno] [int] NULL ,
	[PaxID] [int] NULL ,
	[CountryID] [int] NULL ,
	[subdate] [datetime] NULL ,
	[coldate] [datetime] NULL ,
	[colcheck] [varchar] (50) NULL ,
	[sentDate] [datetime] NULL ,
	[category] [int] NULL ,
	[entrytype] [int] NULL ,
	[statusID] [int] NULL ,
	[remarks] [nvarchar] (4000) NULL ,
	[visafee] [money] NULL ,
	[handlingfee] [money] NULL ,
	[ddcharges] [money] NULL ,
	[couriercharges] [money] NULL ,
	[Misccharges] [money] NULL ,
	[total] [money] NULL ,
	[entrydatetime] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Poe] (
	[PoeID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[priwork] (
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[givenby] [varchar] (50) NULL ,
	[date] [datetime] NULL ,
	[edate] [datetime] NULL ,
	[work] [nvarchar] (1000) NULL ,
	[status] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[quote] (
	[date] [datetime] NULL ,
	[quote] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[registration] (
	[registID] [int] IDENTITY (1, 1) NOT NULL ,
	[uid] [varchar] (25) NOT NULL ,
	[pwd] [varchar] (25) NOT NULL ,
	[name] [varchar] (70) NOT NULL ,
	[desig] [varchar] (75) NULL ,
	[company] [varchar] (75) NULL ,
	[busitype] [varchar] (75) NULL ,
	[address] [varchar] (105) NULL ,
	[area] [varchar] (50) NULL ,
	[city] [varchar] (50) NULL ,
	[pincode] [int] NULL ,
	[country] [varchar] (50) NULL ,
	[phoneno] [varchar] (50) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [varchar] (100) NULL ,
	[hpage] [varchar] (100) NULL ,
	[howknow] [varchar] (200) NULL ,
	[date] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[scheduler] (
	[messageid] [int] IDENTITY (1, 1) NOT NULL ,
	[date] [datetime] NOT NULL ,
	[messageto] [varchar] (100) NULL ,
	[messagefrom] [varchar] (100) NULL ,
	[subject] [varchar] (100) NULL ,
	[description] [nvarchar] (4000) NULL ,
	[messageread] [varchar] (5010) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[security] (
	[date1] [datetime] NULL ,
	[openingtime] [datetime] NULL ,
	[openby] [varchar] (50) NULL ,
	[closingtime] [datetime] NULL ,
	[closedby] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[sentmails] (
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[agentsid] [numeric](18, 0) NOT NULL ,
	[date] [datetime] NULL ,
	[toemail] [nvarchar] (1000) NULL ,
	[awb] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[status] (
	[statusID] [int] NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[StatusHistory] (
	[PaxID] [int] NULL ,
	[Date] [datetime] NULL ,
	[CountryID] [int] NULL ,
	[StatusID] [int] NULL ,
	[Remarks] [nvarchar] (4000) NULL ,
	[UpdatedBy] [varchar] (100) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[subscriber] (
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[name] [varchar] (75) NULL ,
	[email] [varchar] (75) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Udaan_users] (
	[username] [varchar] (100) NULL ,
	[Password] [varchar] (50) NULL ,
	[privilege] [varchar] (100) NULL ,
	[firstname] [varchar] (100) NULL ,
	[lastname] [varchar] (100) NULL ,
	[emailid] [varchar] (100) NULL ,
	[address1] [varchar] (100) NULL ,
	[address2] [varchar] (100) NULL ,
	[city] [varchar] (100) NULL ,
	[state] [varchar] (100) NULL ,
	[country] [varchar] (100) NULL ,
	[pincode] [varchar] (50) NULL ,
	[phoneno] [varchar] (100) NULL ,
	[Faxno] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[VisaInfo] (
	[countryID] [int] NULL ,
	[categoryID] [int] NULL ,
	[information] [nvarchar] (4000) NULL 
) ON [PRIMARY]
GO

-- Demo data inserts
-- Keep make entry/default value as 0 for demo entry type and omit identity columns.

-- Lookup Tables
INSERT INTO [dbo].[EntryType] ([EntryTypeID],[Description]) VALUES (0,'Demo Entry');
INSERT INTO [dbo].[EntryType] ([EntryTypeID],[Description]) VALUES (1,'Student Visa');
INSERT INTO [dbo].[EntryType] ([EntryTypeID],[Description]) VALUES (2,'Work Visa');

INSERT INTO [dbo].[country] ([countrycode],[country],[description]) VALUES ('IN','India','Demo country record');
INSERT INTO [dbo].[country] ([countrycode],[country],[description]) VALUES ('US','USA','United States of America');
INSERT INTO [dbo].[country] ([countrycode],[country],[description]) VALUES ('AU','Australia','Commonwealth of Australia');

INSERT INTO [dbo].[status] ([statusID],[Description]) VALUES (0,'Pending');
INSERT INTO [dbo].[status] ([statusID],[Description]) VALUES (1,'Submitted');
INSERT INTO [dbo].[status] ([statusID],[Description]) VALUES (2,'Approved');

INSERT INTO [dbo].[Category] ([CategoryID],[Description]) VALUES (1,'Regular');
INSERT INTO [dbo].[Category] ([CategoryID],[Description]) VALUES (2,'Express');
INSERT INTO [dbo].[Category] ([CategoryID],[Description]) VALUES (3,'Super Express');

INSERT INTO [dbo].[Attestation] ([AttestationID],[Description]) VALUES (1,'Required');
INSERT INTO [dbo].[Attestation] ([AttestationID],[Description]) VALUES (2,'Not Required');
INSERT INTO [dbo].[Attestation] ([AttestationID],[Description]) VALUES (3,'Optional');

INSERT INTO [dbo].[Poe] ([PoeID],[Description]) VALUES (1,'Delhi');
INSERT INTO [dbo].[Poe] ([PoeID],[Description]) VALUES (2,'Mumbai');
INSERT INTO [dbo].[Poe] ([PoeID],[Description]) VALUES (3,'Bangalore');

INSERT INTO [dbo].[bank] ([bankid],[description]) VALUES (1,'HDFC Bank');
INSERT INTO [dbo].[bank] ([bankid],[description]) VALUES (2,'ICICI Bank');
INSERT INTO [dbo].[bank] ([bankid],[description]) VALUES (3,'SBI Bank');

INSERT INTO [dbo].[cab] ([cabid],[description]) VALUES (1,'Sedan');
INSERT INTO [dbo].[cab] ([cabid],[description]) VALUES (2,'SUV');
INSERT INTO [dbo].[cab] ([cabid],[description]) VALUES (3,'Tempo');

INSERT INTO [dbo].[hotel] ([hotelid],[description]) VALUES (1,'5-Star');
INSERT INTO [dbo].[hotel] ([hotelid],[description]) VALUES (2,'4-Star');
INSERT INTO [dbo].[hotel] ([hotelid],[description]) VALUES (3,'3-Star');

INSERT INTO [dbo].[certificate] ([certificateID],[description]) VALUES (1,'Birth Certificate');
INSERT INTO [dbo].[certificate] ([certificateID],[description]) VALUES (2,'Marriage Certificate');
INSERT INTO [dbo].[certificate] ([certificateID],[description]) VALUES (3,'Degree Certificate');

-- Main Data Tables
INSERT INTO [dbo].[agents] ([Description],[companyname],[complexname],[street1],[street2],[area],[city],[pincode],[phoneno],[faxno],[emailid],[directorname],[acno],[payment]) VALUES ('Demo Agent','Demo Travel','Demo Plaza','123 Demo St','Floor 1','Demo Area','Mumbai','400001','022-12345678','022-87654321','demo@royalroutes.com','John Doe','AC123456','Cash');
INSERT INTO [dbo].[agents] ([Description],[companyname],[complexname],[street1],[street2],[area],[city],[pincode],[phoneno],[faxno],[emailid],[directorname],[acno],[payment]) VALUES ('Agent Two','Travel World','Tech Park','456 Business Ave','Suite 2','Business District','Delhi','110001','011-40123456','011-40123457','agent2@royalroutes.com','Jane Smith','AC789012','Cheque');

INSERT INTO [dbo].[embassy] ([Description],[embassyname],[street1],[street2],[area],[city],[phoneno],[faxno],[emailid]) VALUES ('Demo Embassy','Demo Embassy','101 Embassy Rd','Block A','Demo District','Mumbai','022-11112222','022-22221111','embassy@demo.com');
INSERT INTO [dbo].[embassy] ([Description],[embassyname],[street1],[street2],[area],[city],[phoneno],[faxno],[emailid]) VALUES ('USA Embassy','United States Embassy','1 Lafayette Square','South Block','Central','Delhi','011-2419-8000','011-2419-8001','info@usembassy.org');
INSERT INTO [dbo].[embassy] ([Description],[embassyname],[street1],[street2],[area],[city],[phoneno],[faxno],[emailid]) VALUES ('UK High Commission','British High Commission','ShajahanRoad','New Delhi','Central','Delhi','011-4119-2100','011-4119-2102','info@ukindia.org');

INSERT INTO [dbo].[Udaan_users] ([username],[Password],[privilege],[firstname],[lastname],[emailid],[address1],[city],[state],[country],[pincode],[phoneno]) VALUES ('demo','demo123','admin','Demo','User','demo@royalroutes.com','Demo Address','Mumbai','Maharashtra','India','400001','022-12345678');
INSERT INTO [dbo].[Udaan_users] ([username],[Password],[privilege],[firstname],[lastname],[emailid],[address1],[city],[state],[country],[pincode],[phoneno]) VALUES ('employee1','emp123','emp','Rajesh','Kumar','rajesh@royalroutes.com','Office Address','Delhi','Delhi','India','110001','011-40123456');
INSERT INTO [dbo].[Udaan_users] ([username],[Password],[privilege],[firstname],[lastname],[emailid],[address1],[city],[state],[country],[pincode],[phoneno]) VALUES ('agent1','agt123','agt','Priya','Sharma','priya@royalroutes.com','Home Address','Bangalore','Karnataka','India','560001','080-12345678');

INSERT INTO [dbo].[Mainentry] ([refno],[paxname],[agent],[refferer],[companyname],[passportno],[totalpassengers],[entries],[dateofbirth],[subdate],[coldate],[receivedate],[sentDate],[entrytype],[category],[attestation],[poe],[status],[externalremark],[internalremark],[AgentInstruction],[enteredby],[entrydatetime],[Bill]) VALUES (1001,'Demo Pax',1,'Demo Referrer','Demo Company','A1234567',1,1,'2000-01-01','2026-04-01','2026-04-05','2026-04-10','2026-04-15',0,1,1,1,1,'External demo remark','Internal demo remark','Demo instruction','demo','2026-04-16','No');
INSERT INTO [dbo].[Mainentry] ([refno],[paxname],[agent],[refferer],[companyname],[passportno],[totalpassengers],[entries],[dateofbirth],[subdate],[coldate],[receivedate],[sentDate],[entrytype],[category],[attestation],[poe],[status],[externalremark],[internalremark],[AgentInstruction],[enteredby],[entrydatetime],[Bill]) VALUES (1002,'Amit Singh',1,'Corporate','Tech Corp','A1234568',2,1,'1990-05-15','2026-03-20','2026-03-25','2026-04-02','2026-04-10',1,2,2,2,2,'Student visa application','Approved by embassy','Process via air','demo','2026-04-16','Yes');

INSERT INTO [dbo].[security] ([date1],[openingtime],[openby],[closingtime],[closedby]) VALUES ('2026-04-16','09:00:00','demo','18:00:00','demo');

INSERT INTO [dbo].[entryDetails] ([refno],[Paxname],[passportno],[DateOfBirth],[Category],[totalpax]) VALUES (1001,'Demo Pax','A1234567','2000-01-01',1,1);
INSERT INTO [dbo].[entryDetails] ([refno],[Paxname],[passportno],[DateOfBirth],[Category],[totalpax]) VALUES (1002,'Amit Singh','A1234568','1990-05-15',1,2);

INSERT INTO [dbo].[PaxStatus] ([refno],[PaxID],[CountryID],[subdate],[coldate],[sentDate],[category],[entrytype],[statusID],[visafee],[handlingfee],[ddcharges],[total],[entrydatetime]) VALUES (1001,1,1,'2026-04-01','2026-04-05','2026-04-15',1,0,1,5000,500,100,5600,'2026-04-16');
INSERT INTO [dbo].[PaxStatus] ([refno],[PaxID],[CountryID],[subdate],[coldate],[sentDate],[category],[entrytype],[statusID],[visafee],[handlingfee],[ddcharges],[total],[entrydatetime]) VALUES (1002,2,2,'2026-03-20','2026-03-25','2026-04-10',2,1,2,8000,750,150,8900,'2026-04-16');

INSERT INTO [dbo].[VisaInfo] ([countryID],[categoryID],[information]) VALUES (1,1,'Standard visa processing time 10-15 days');
INSERT INTO [dbo].[VisaInfo] ([countryID],[categoryID],[information]) VALUES (2,1,'USA visa requires interview');
INSERT INTO [dbo].[VisaInfo] ([countryID],[categoryID],[information]) VALUES (2,2,'Express processing available for urgent cases');

INSERT INTO [dbo].[registration] ([uid],[pwd],[name],[desig],[company],[busitype],[address],[area],[city],[pincode],[country],[phoneno],[faxno],[emailid],[hpage],[howknow],[date]) VALUES ('user1','pass123','John Wilson','Manager','ABC Tours','Tourism','10 Oak Street','Commercial','New York','10001','USA','212-5555555','212-5555556','john@abctours.com','www.abctours.com','Google Search','2026-04-10');
INSERT INTO [dbo].[registration] ([uid],[pwd],[name],[desig],[company],[busitype],[address],[area],[city],[pincode],[country],[phoneno],[faxno],[emailid],[hpage],[howknow],[date]) VALUES ('demo','demo123','Demo User','Director','Demo Travel','Tourism','Demo Address','Demo Area','Mumbai','400001','India','022-12345678','022-87654321','demo@royalroutes.com','www.demo.com','Internal','2026-04-01');
INSERT INTO [dbo].[registration] ([uid],[pwd],[name],[desig],[company],[busitype],[address],[area],[city],[pincode],[country],[phoneno],[faxno],[emailid],[hpage],[howknow],[date]) VALUES ('agent1','agt123','Priya Sharma','Agent','Travel Solutions','Agency','Home Address','Residential','Bangalore','560001','India','080-12345678','080-12345679','priya@royalroutes.com','www.travelindia.com','Referral','2026-03-15');

INSERT INTO [dbo].[masterbalance] ([agentid],[masterbalance],[duedate]) VALUES (1,50000.00,'2026-05-16');
INSERT INTO [dbo].[masterbalance] ([agentid],[masterbalance],[duedate]) VALUES (2,75000.00,'2026-05-16');

INSERT INTO [dbo].[subscriber] ([name],[email]) VALUES ('Demo Subscriber','demo@example.com');
INSERT INTO [dbo].[subscriber] ([name],[email]) VALUES ('John Test','john@example.com');

INSERT INTO [dbo].[scheduler] ([date],[messageto],[messagefrom],[subject],[description],[messageread]) VALUES ('2026-04-16','All','System','Demo Message','This is a demo system message','N');

GO
