/* Microsoft SQL Server - Scripting			*/
/* Server: SERVER					*/
/* Database: udaanuma					*/
/* Creation Date 8/9/02 3:38:40 PM 			*/

if exists (select * from sysobjects where id = object_id(N'[dbo].[agents]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[agents]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Attestation]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Attestation]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[bank]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[bank]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[cab]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[cab]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Category]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Category]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[certificate]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[certificate]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[changes]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[changes]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[country]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[country]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[dailyUpdate]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[dailyUpdate]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[deleteditem]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[deleteditem]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[diary]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[diary]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[embassy]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[embassy]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[entryDetails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[entryDetails]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[EntryType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[EntryType]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[hits]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[hits]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[holidaylist]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[holidaylist]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[hotel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[hotel]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[invno]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[invno]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[invoice]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[invoice]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[invoicedetail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[invoicedetail]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Ledger]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Ledger]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Mainentry]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Mainentry]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[masterbalance]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[masterbalance]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[newagents]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[newagents]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[PaxAttestation]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PaxAttestation]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[paxCab]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[paxCab]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[paxhotel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[paxhotel]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[PaxStatus]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PaxStatus]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Poe]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Poe]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[priwork]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[priwork]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[quote]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[quote]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[registration]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[registration]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[scheduler]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[scheduler]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[security]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[security]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[sentmails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[sentmails]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[status]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[status]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[StatusHistory]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[StatusHistory]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[subscriber]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[subscriber]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Udaan_users]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Udaan_users]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[VisaInfo]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[VisaInfo]
GO

CREATE TABLE [dbo].[agents] (
	[agentsID] [int] IDENTITY (1, 1) NOT NULL ,
	[Description] [varchar] (100) NULL ,
	[companyname] [varchar] (100) NULL ,
	[complexname] [varchar] (100) NULL ,
	[street1] [varchar] (100) NULL ,
	[street2] [varchar] (100) NULL ,
	[area] [varchar] (100) NULL ,
	[city] [varchar] (100) NULL ,
	[pincode] [varchar] (50) NULL ,
	[phoneno] [varchar] (100) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [nvarchar] (1000) NULL ,
	[directorname] [varchar] (100) NULL ,
	[acno] [varchar] (50) NULL ,
	[payment] [varchar] (100) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Attestation] (
	[AttestationID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[bank] (
	[bankid] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[cab] (
	[cabid] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Category] (
	[CategoryID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[certificate] (
	[certificateID] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[changes] (
	[refno] [int] NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[country] (
	[countrycode] [varchar] (50) NULL ,
	[country] [varchar] (50) NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[dailyUpdate] (
	[entrydate] [datetime] NULL ,
	[Description] [nvarchar] (4000) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[deleteditem] (
	[refno] [int] NULL ,
	[paxid] [int] NULL ,
	[countryid] [int] NULL ,
	[deletedby] [nvarchar] (50) NULL ,
	[description] [nvarchar] (150) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[diary] (
	[ID] [int] NOT NULL ,
	[dte] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[embassy] (
	[EmbassyID] [int] IDENTITY (1, 1) NOT NULL ,
	[Description] [varchar] (100) NOT NULL ,
	[embassyname] [varchar] (100) NULL ,
	[street1] [varchar] (100) NULL ,
	[street2] [varchar] (100) NULL ,
	[area] [varchar] (100) NULL ,
	[city] [varchar] (100) NULL ,
	[phoneno] [varchar] (100) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [varchar] (100) NULL ,
	[workinghours] [varchar] (100) NULL ,
	[chancery] [varchar] (100) NULL ,
	[chanceryphone] [varchar] (50) NULL ,
	[chanceryaddress] [varchar] (100) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[entryDetails] (
	[PaxID] [int] IDENTITY (1, 1) NOT NULL ,
	[refno] [int] NULL ,
	[Paxname] [varchar] (100) NULL ,
	[passportno] [varchar] (50) NULL ,
	[DateOfBirth] [datetime] NULL ,
	[Category] [int] NULL ,
	[totalpax] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[EntryType] (
	[EntryTypeID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[hits] (
	[hits] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[holidaylist] (
	[countryID] [int] NULL ,
	[holiday] [datetime] NULL ,
	[description] [nvarchar] (500) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[hotel] (
	[hotelid] [int] NOT NULL ,
	[description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[invno] (
	[invoiceno] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[invoice] (
	[refno] [int] NULL ,
	[invoiceno] [int] NULL ,
	[hotelfee] [money] NULL ,
	[cabfee] [money] NULL ,
	[poeremark] [nvarchar] (1000) NULL ,
	[poe] [money] NULL ,
	[miscremark] [nvarchar] (1000) NULL ,
	[misc] [money] NULL ,
	[attestfee] [money] NULL ,
	[attestremark] [nvarchar] (1000) NULL ,
	[courierfee] [money] NULL ,
	[grandtotal] [money] NULL ,
	[invoicedate] [datetime] NULL ,
	[remark] [nvarchar] (1000) NULL ,
	[invtype] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[invoicedetail] (
	[invoiceno] [int] NULL ,
	[paxid] [int] NULL ,
	[countryid] [int] NULL ,
	[visafee] [money] NULL ,
	[handlingfee] [money] NULL ,
	[ddcharges] [money] NULL ,
	[invtype] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Ledger] (
	[agentID] [int] NULL ,
	[transdate] [datetime] NULL ,
	[transactionType] [varchar] (50) NULL ,
	[bank] [int] NULL ,
	[paidas] [varchar] (50) NULL ,
	[ddno] [varchar] (50) NULL ,
	[dddate] [varchar] (50) NULL ,
	[paxname] [varchar] (50) NULL ,
	[refno] [int] NULL ,
	[reftype] [varchar] (50) NULL ,
	[credit] [money] NULL ,
	[Debit] [money] NULL ,
	[balance] [money] NULL ,
	[Remark] [nvarchar] (150) NULL ,
	[entrydateTime] [datetime] NULL ,
	[updatedby] [varchar] (50) NULL ,
	[id] [int] IDENTITY (1, 1) NOT NULL ,
	[invno] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Mainentry] (
	[refno] [int] NULL ,
	[paxname] [varchar] (100) NULL ,
	[agent] [int] NULL ,
	[refferer] [varchar] (100) NULL ,
	[companyname] [varchar] (100) NULL ,
	[passportno] [varchar] (50) NULL ,
	[totalpassengers] [int] NULL ,
	[entries] [int] NULL ,
	[dateofbirth] [datetime] NULL ,
	[subdate] [datetime] NULL ,
	[coldate] [datetime] NULL ,
	[receivedate] [datetime] NULL ,
	[sentDate] [datetime] NULL ,
	[entrytype] [int] NULL ,
	[category] [int] NULL ,
	[attestation] [int] NULL ,
	[poe] [int] NULL ,
	[status] [int] NULL ,
	[externalremark] [nvarchar] (4000) NULL ,
	[internalremark] [nvarchar] (4000) NULL ,
	[AgentInstruction] [nvarchar] (2000) NULL ,
	[enteredby] [varchar] (50) NULL ,
	[entrydatetime] [datetime] NULL ,
	[Bill] [varchar] (3) NULL ,
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[masterbalance] (
	[agentid] [int] NULL ,
	[masterbalance] [money] NULL ,
	[duedate] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[newagents] (
	[agentcode] [int] NULL ,
	[agentname] [varchar] (50) NULL ,
	[complexname] [varchar] (50) NULL ,
	[street1] [varchar] (50) NULL ,
	[street2] [varchar] (50) NULL ,
	[area] [varchar] (50) NULL ,
	[city] [varchar] (50) NULL ,
	[pincode] [varchar] (50) NULL ,
	[phoneno] [varchar] (50) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [varchar] (50) NULL ,
	[directorname] [varchar] (50) NULL ,
	[a/cno] [varchar] (50) NULL ,
	[payment] [int] NULL ,
	[reminderdate] [datetime] NULL ,
	[alertmessage] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PaxAttestation] (
	[PaxID] [int] NULL ,
	[CountryID] [int] NULL ,
	[AttestationID] [int] NULL ,
	[CertificateID] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[paxCab] (
	[refno] [int] NULL ,
	[name] [varchar] (100) NULL ,
	[cabowner] [varchar] (100) NULL ,
	[vehical] [varchar] (100) NULL ,
	[cabno] [varchar] (50) NULL ,
	[ac] [varchar] (50) NULL ,
	[sdate] [datetime] NULL ,
	[enddate] [datetime] NULL ,
	[startfrom] [varchar] (50) NULL ,
	[standeredkm] [int] NULL ,
	[standeredhour] [varchar] (50) NULL ,
	[actualkm] [int] NULL ,
	[actualhour] [varchar] (100) NULL ,
	[extrakm] [int] NULL ,
	[extrahour] [varchar] (50) NULL ,
	[extrainfo] [varchar] (50) NULL ,
	[extraamount] [int] NULL ,
	[mode] [varchar] (100) NULL ,
	[dest] [varchar] (100) NULL ,
	[orderedby] [varchar] (100) NULL ,
	[ratesperday] [int] NULL ,
	[noofday] [int] NULL ,
	[total] [int] NULL ,
	[entryDateTime] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[paxhotel] (
	[refno] [int] NULL ,
	[name] [varchar] (100) NULL ,
	[hotelname] [int] NULL ,
	[arrivaltime] [varchar] (50) NULL ,
	[arrivaldate] [datetime] NULL ,
	[departtime] [varchar] (50) NULL ,
	[departdate] [datetime] NULL ,
	[nosofdays] [int] NULL ,
	[tariff] [int] NULL ,
	[transportation] [varchar] (100) NULL ,
	[flightdetail] [varchar] (100) NULL ,
	[flightstatus] [varchar] (100) NULL ,
	[misccharges] [int] NULL ,
	[total] [int] NULL ,
	[noofrooms] [int] NULL ,
	[entryDateTime] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PaxStatus] (
	[refno] [int] NULL ,
	[PaxID] [int] NULL ,
	[CountryID] [int] NULL ,
	[subdate] [datetime] NULL ,
	[coldate] [datetime] NULL ,
	[colcheck] [varchar] (50) NULL ,
	[sentDate] [datetime] NULL ,
	[category] [int] NULL ,
	[entrytype] [int] NULL ,
	[statusID] [int] NULL ,
	[remarks] [nvarchar] (4000) NULL ,
	[visafee] [money] NULL ,
	[handlingfee] [money] NULL ,
	[ddcharges] [money] NULL ,
	[couriercharges] [money] NULL ,
	[Misccharges] [money] NULL ,
	[total] [money] NULL ,
	[entrydatetime] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Poe] (
	[PoeID] [int] NOT NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[priwork] (
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[givenby] [varchar] (50) NULL ,
	[date] [datetime] NULL ,
	[edate] [datetime] NULL ,
	[work] [nvarchar] (1000) NULL ,
	[status] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[quote] (
	[date] [datetime] NULL ,
	[quote] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[registration] (
	[registID] [int] IDENTITY (1, 1) NOT NULL ,
	[uid] [varchar] (25) NOT NULL ,
	[pwd] [varchar] (25) NOT NULL ,
	[name] [varchar] (70) NOT NULL ,
	[desig] [varchar] (75) NULL ,
	[company] [varchar] (75) NULL ,
	[busitype] [varchar] (75) NULL ,
	[address] [varchar] (105) NULL ,
	[area] [varchar] (50) NULL ,
	[city] [varchar] (50) NULL ,
	[pincode] [int] NULL ,
	[country] [varchar] (50) NULL ,
	[phoneno] [varchar] (50) NULL ,
	[faxno] [varchar] (50) NULL ,
	[emailid] [varchar] (100) NULL ,
	[hpage] [varchar] (100) NULL ,
	[howknow] [varchar] (200) NULL ,
	[date] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[scheduler] (
	[messageid] [int] IDENTITY (1, 1) NOT NULL ,
	[date] [datetime] NOT NULL ,
	[messageto] [varchar] (100) NULL ,
	[messagefrom] [varchar] (100) NULL ,
	[subject] [varchar] (100) NULL ,
	[description] [nvarchar] (4000) NULL ,
	[messageread] [varchar] (5010) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[security] (
	[date1] [datetime] NULL ,
	[openingtime] [datetime] NULL ,
	[openby] [varchar] (50) NULL ,
	[closingtime] [datetime] NULL ,
	[closedby] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[sentmails] (
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[agentsid] [numeric](18, 0) NOT NULL ,
	[date] [datetime] NULL ,
	[toemail] [nvarchar] (1000) NULL ,
	[awb] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[status] (
	[statusID] [int] NULL ,
	[Description] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[StatusHistory] (
	[PaxID] [int] NULL ,
	[Date] [datetime] NULL ,
	[CountryID] [int] NULL ,
	[StatusID] [int] NULL ,
	[Remarks] [nvarchar] (4000) NULL ,
	[UpdatedBy] [varchar] (100) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[subscriber] (
	[id] [numeric](18, 0) IDENTITY (1, 1) NOT NULL ,
	[name] [varchar] (75) NULL ,
	[email] [varchar] (75) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Udaan_users] (
	[username] [varchar] (100) NULL ,
	[Password] [varchar] (50) NULL ,
	[privilege] [varchar] (100) NULL ,
	[firstname] [varchar] (100) NULL ,
	[lastname] [varchar] (100) NULL ,
	[emailid] [varchar] (100) NULL ,
	[address1] [varchar] (100) NULL ,
	[address2] [varchar] (100) NULL ,
	[city] [varchar] (100) NULL ,
	[state] [varchar] (100) NULL ,
	[country] [varchar] (100) NULL ,
	[pincode] [varchar] (50) NULL ,
	[phoneno] [varchar] (100) NULL ,
	[Faxno] [varchar] (50) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[VisaInfo] (
	[countryID] [int] NULL ,
	[categoryID] [int] NULL ,
	[information] [nvarchar] (4000) NULL 
) ON [PRIMARY]
GO

